:host {
  display: flex;
  flex-direction: column;
}

#field {
  font-family: var(--low-text-font-family);
  font-size: var(--low-text-font-size-0);
  line-height: var(--low-text-line-height-0);
  letter-spacing: var(--low-text-letter-spacing-0);
}

button {
  align-self: flex-start;
}
