:host {
  display: block;
  font-family: var(--low-text-font-family);
  font-feature-settings: var(--low-text-font-feature-settings, normal);
  font-kerning: normal;
  font-optical-sizing: auto;
  font-size: var(--low-text-font-size);
  font-variation-settings: 'wght' var(--low-text-font-weight);
  letter-spacing: var(--low-text-letter-spacing);
  line-height: var(--low-text-line-height);
  padding-bottom: 1px;
  padding-top: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  background: rgb(0 0 0 / 10%);
}

:host(.\-2) {
  --low-text-font-size: calc(
    var(--low-text-font-size-base) / var(--low-text-font-size-ratio) /
      var(--low-text-font-size-ratio)
  );
}

:host(.\-1) {
  --low-text-font-size: calc(var(--low-text-font-size-base) / var(--low-text-font-size-ratio));
}

:host(\30) {
  --low-text-font-size: var(--low-text-font-size-base);
}

:host(.\+1) {
  --low-text-font-size: calc(var(--low-text-font-size-base) * var(--low-text-font-size-ratio));
}

:host(.\+2) {
  --low-text-font-size: calc(
    var(--low-text-font-size-base) * var(--low-text-font-size-ratio) *
      var(--low-text-font-size-ratio)
  );
}

:host(.\+3) {
  --low-text-font-size: calc(
    var(--low-text-font-size-base) * var(--low-text-font-size-ratio) *
      var(--low-text-font-size-ratio) * var(--low-text-font-size-ratio)
  );
}

:host(.\+4) {
  --low-text-font-size: calc(
    var(--low-text-font-size-base) * var(--low-text-font-size-ratio) *
      var(--low-text-font-size-ratio) * var(--low-text-font-size-ratio) *
      var(--low-text-font-size-ratio)
  );
}

:host(.\+5) {
  --low-text-font-size: calc(
    var(--low-text-font-size-base) * var(--low-text-font-size-ratio) *
      var(--low-text-font-size-ratio) * var(--low-text-font-size-ratio) *
      var(--low-text-font-size-ratio) * var(--low-text-font-size-ratio)
  );
}

:host(.\+6) {
  --low-text-font-size: calc(
    var(--low-text-font-size-base) * var(--low-text-font-size-ratio) *
      var(--low-text-font-size-ratio) * var(--low-text-font-size-ratio) *
      var(--low-text-font-size-ratio) * var(--low-text-font-size-ratio) *
      var(--low-text-font-size-ratio)
  );
}

:host::before,
:host::after {
  content: '';
  display: block;
  height: 0;
}

:host::before {
  margin-top: calc((var(--low-text-leading-trim) + 1px) * -1);
}

:host::after {
  margin-bottom: calc((var(--low-text-leading-trim) + 1px) * -1);
}

:host(.soft) {
  --low-text-font-weight: var(--low-text-font-weight-soft);
}

:host(.strong) {
  --low-text-font-weight: var(--low-text-font-weight-strong);
}

:host(.heavy) {
  --low-text-font-weight: var(--low-text-font-weight-heavy);
}

::slotted(a) {
  color: var(--low-text-anchor-color, blue);
  text-decoration: var(--low-text-anchor-text-decoration, underline);
}

::slotted(strong) {
  font-variation-settings: 'wght' var(--low-text-strong-font-weight, 700);
}

#content::before {
  content: attr(data-before);
}

#content::after {
  content: attr(data-after);
}
